<div class='container term-page'>
  <div class='glossary-header' >
    <% ('A'..'Z').each do |letter| %>
      <a class='term-letter'> <%= letter %> </a>
    <% end %>
  </div>
  <div class='term-grid'>
    <% @terms.each do |term| %>
      <div class='term-info'>
        <h3 class='term-name'><%= link_to term.name, term_path(term.name) %></h3>
        <p class='term-definition'><%= term.definition %></p>
        <p class='term-tag'>Tags: 
          <% term.tag.each do |t| %>
            <% if t != term.tag.last() %>
              <%= t + ', ' %>
            <% else %>
              <%= t %>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>